:root {
  --dark: #272727;
  --gray: #747474;
  --orange: #FF652F;
  --yellow: #FFE400;
  --green: #14A76C;
}

* {box-sizing: border-box;}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 1rem auto;
  padding: 2rem;
  background-color: var(--gray);
  border-radius: 3px;
  color: #fff;
}

.shop-list {
  list-style: none;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.shop-list__item {
  position: relative;
}

.shop-list__item div {
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
  margin: .66rem 0;
  padding: 1rem;
  background-color: var(--yellow);
  color: var(--dark);
  font-weight: bold;
  cursor: pointer;
  transition: background-color .2s linear;
}

.shop-list__item .remove {
  position: absolute;
  display: inline-block;
  width: 0;
  left: 100%;
  top: 16px;
  overflow: hidden;
  background-color: var(--dark);
  color: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  transition: width linear .2s;
}

.shop-list__item:not(.added):hover .remove {
  width: 30px;
}

.shop-list__item.expensive div {
  background-color: var(--orange);
  color: #FFF;
  cursor: not-allowed;
}

.shop-list__item.added div {
  background-color: var(--green);
  cursor: pointer;
}

.error {
  margin-bottom: 0;
  padding: .33rem;
  background-color: var(--orange);
  color: #fff;
  border-radius: 3px;
  font-weight: bold;
}

.error span {
  display: inline-block;
  padding: .33rem;
  border-radius: 3px;
  background-color: #fff;
  color: var(--orange);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
